@import "../../../colors";

.header {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 var(--red-shadow);
  border-radius: 0 0 20px 20px;
  background: var(--card-bg);

  .logo {
    margin: 0 auto;
    color: var(--red);
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    .link {
      cursor: pointer;
      margin: 0 10px;
      color: var(--red);
      text-decoration: none;
      &:hover {
        color: var(--red-hover);
      }
    }
  }
}

.accessToken {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 90vw;
  text-align: right;
  height: auto;
  display: flex;
  p {
    width: 100%;
    word-wrap: break-word;
  }
}
.profile-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--card-bg);
  box-shadow: 0 0 4px 0 var(--red-shadow);
}
.profile-nav {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  &-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid rgba($color: $default-white, $alpha: 0.5);
    padding: 5px;
    &:last-child {
      border-bottom: none;
    }
  }

  .nav-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--white-light);
    transition: color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    svg {
      aspect-ratio: 1/1;
      width: 16px;
      height: 16px;
    }
    &:hover {
      color: white;
    }
    &.logout {
      color: var(--red);
      &:hover {
        color: var(--red-hover);
      }
    }
  }
}
