.header {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 var(--red-shadow);
  border-radius: 0 0 20px 20px;
  background: var(--card-bg);

  .logo {
    margin: 0 auto;
    color: var(--red);
  }
  .menu {
    display: flex;
    justify-content: center;
    .link {
      cursor: pointer;
      margin: 0 10px;
      color: var(--red);
      text-decoration: none;
      &:hover {
        color: var(--red-hover);
      }
    }
  }
}

.accessToken {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 90vw;
  text-align: right;
  height: auto;
  display: flex;
  p {
    width: 100%;
    word-wrap: break-word;
  }
}
