.header {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  h1 {
  }
  .logo {
    margin: 0 auto;
    color: #f00;
  }
  .menu {
    display: flex;
    justify-content: center;
    .link {
      cursor: pointer;
      margin: 0 10px;
      color: #f00;
      text-decoration: none;
      &:hover {
        color: rgba(255, 0, 0, 0.803);
      }
    }
  }
}
