.auth-main {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-size: 1.2rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  input {
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--red);
  }
  button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--red);
    background-color: var(--red);
    color: #fff;
    cursor: pointer;
  }
  .auth-link {
    text-decoration: none;
    color: var(--red);
    &:hover {
      color: var(--red);
    }
  }
}
