.player {
  padding: 1.25rem;
  border: 0.0625rem solid #e0e0e0;
  border-radius: 0.75rem;
  width: 100%;
  .hr {
    margin: 0.625rem 0;
    border: 0;
    border-top: 0.0625rem solid #e0e0e08d;
  }
  &-bottom {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    width: 100%;
  }
  &-name {
    font-weight: bold;
  }
  &-status {
    display: flex;
    gap: 0.625rem;
    align-items: center;
    &.ingame-status {
      transform-origin: center center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 2.5rem;
      background: #000;
      height: 2.5rem;
      svg {
        width: 1.4375rem;
        height: 1.4375rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &.online-status {
      //
    }
    &.active {
      color: var(--green);
    }
  }
  &-score {
    flex: 1;
    text-align: right;
  }
}
.playing-animation {
  animation: playing infinite linear;
  animation-duration: 3s;
}

@keyframes playing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
