.play-main {
  position: relative;
  justify-content: space-between;
  user-select: none;
  .game-state {
    color: #00ff00;
    &.lobby {
      color: var(--orange);
    }
    &.stopped {
      color: #ffff00;
    }
    &.finished {
      color: var(--red);
    }
  }
  .current-game-span {
    color: var(--red);
    user-select: text;
  }
}
.main-container {
  min-height: calc(100dvh - 102px);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}
.pre {
  text-align: left;
  font-size: 0.8rem;
  overflow: auto;
  max-height: 200px;
}
.hand-signs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;

  &-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    padding: 20px;
    border-radius: 12px;
    overflow: hidden;
  }
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    cursor: not-allowed;
    .overlay-content {
      font-size: 1.4rem;
      padding: 20px;
    }
  }
}

.play-btn {
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  color: #3f3f3f;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s;
  background-color: var(--green);
  svg {
    aspect-ratio: 1/1;
  }
  &:hover {
    background-color: var(--green-hover);
  }
}

.creator-menu {
  top: 20px;
  right: 20px;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.leave-button {
  color: var(--red);
  background-color: #fafafa;
  &:hover {
    background-color: #f0f0f0;
  }
}
.end-button {
  color: #fff;
  background-color: var(--darkred);
  &:hover {
    background-color: var(--darkred-hover);
  }
}

.player-moves {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .round-player-move {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .player-sign {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      padding: 20px;
      border: 1px solid var(--orange);
    }
  }
}
.round-username {
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  &.winner {
    color: var(--green);
  }
}
.stop-button {
  color: var(--primary-bg);
  background-color: var(--yellow);
  &:hover {
    background-color: var(--yellow-hover);
  }
}

.sign {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  aspect-ratio: 1/1;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  &.active {
    border: 1px solid var(--orange);
    // opacity: 0.7;
  }
  &.winner {
    border: 1px solid var(--green);
  }
  &.loser {
    border: 1px solid var(--red);
  }
  svg {
    aspect-ratio: 1/1;
  }
  &:disabled {
    // cursor: auto;
  }
}

// .flip-container {
//   transform: rotate(180deg);
// }

.fa-flip {
  animation-duration: 4s !important;
  // animation-direction: alternate !important;
}

.game-content {
  --game-content-width: 40px;
  --game-content-width-left: 40px;
  flex: 1;
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
  height: 100%;

  .left,
  .right {
    position: relative;
    z-index: 1;
    height: 100%;
    transition: width 0.15s ease-in-out;
  }
  .right {
    width: var(--game-content-width);
  }
  .left {
    width: var(--game-content-width-left);
  }
  &.toggled-right {
    --game-content-width: 350px;
  }
  &.toggled-left {
    --game-content-width-left: 350px;
  }
}
@import url("./sidebars.scss");
