$red: #f00;
$red-hover: #ff0000cd;
$darkred: #8b0000;
$darkred-hover: #a52a2a;
$red-shadow: #ff00007e;
$orange: #ffa500;
$yellow: #ffff00;
$yellow-hover: #ffcc00;
$green: #00ff00;
$green-hover: #00cc00;
$white-light: #f9f9f9;
$primary-bg: #242424;
$card-bg: #333;
